button{
    font-size: 50px;
    margin-top: 10px;
    margin-left: 50px;
}


.wingup{
    background-image: url(up.jpg);
    background-position-x:50px;
    background-position-y:70px;
    width: 400px;
    height: 400px;
}
.wingdown{
    background-image: url(down.jpg);
    background-position-x:50px;
    background-position-y:70px;
    width: 400px;
    height: 400px;
}
