/* a:hover {
  background-color: #806228;
  color: white;
} */
.img-fluid{
  height: 250px;
  width: 600px;
}
@media (min-width: 1200px){
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 99% !important;}
}
@media (min-width: 992px){
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 99% !important;}
}
@media (min-width: 768px){
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 99% !important;}
}
@media (min-width: 576px){
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 99% !important;}
}



